nav{
    width: 99%;
    display: flex;
    justify-content: space-between;
}
li{
    color: grey;
    cursor:pointer;
}
li:hover{
    color: white;
}
h1,ul,li{
    display: inline;
}
input{
    width: 60%;
    padding: 10px;
    margin: 30px;
}
.Search{
    text-align: center;
}
.box{
    display: inline-block;
    border: 1;
    border-color: black;
    border-style: solid;
    padding: 10px;
    width: 230px;
    cursor: pointer;
}
.box:hover{
    background-color: aqua;    
}
.Products{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.about{
    text-align: center;
}
.Contact{
    margin-top: 20px;
    text-align: center;
    background-color: black;
    color: white;
    padding: 15px;
}
#contactpara{
    color: grey;
    margin-top: 30px;
}
a{
    color: white;
}
.header{
    position: sticky;
    top: 0px;
    background-color: black;
    color: white;
    padding: 5px;
}